.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  background-color: royalblue;
}
.contained{
  background-color: aliceblue;
  width: 650px;
  height: 500px;
  display: flex;
  margin: auto;
  margin-top:25px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5%;

}
.ace{
  
  border-radius: 5%;
}
.card1{
 
  max-width: 120px;
  max-height:150px;
  border-radius: 5%;
  background-color: black;
  margin: 10px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-color: aliceblue;
  width: 650px;
  height: 500px;
  display: flex;
  margin: auto;
  margin-top:25px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.title{
  text-align: center;
color: aliceblue;
margin: 90px;
font-weight: 800;
font-family: Helvetica, Arial, sans-serif;
}
.cardfront .cardback{
  backface-visibility: hidden;
  transition: transform 0.3s;
position: absolute;
top: 0;
left: 0;
}
.timclas{
text-align: center;
color: aliceblue;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cardfront{
  transition: transform 0.3s;
  z-index: 2;
transform: rotateY(0deg);
}
.cardback{
  transition: transform 0.3s;
  z-index: 2;
transform: rotateY(0deg);
}
.imagestylef{
  border-radius: 5%;
  display: block;
  float: middle;
  width: 120px;
  height:150px;
  display: "block";
  transition: transform 0.3s;
  z-index: 2;
transform: rotateY(0deg);
}
.imagestyleb{
 
  border-radius: 5%;
  display: none;
  float: middle;
  width: 120px;
  height:150px;
  transition: transform 0.3s;
  z-index: 2;
transform: rotateY(0deg);
display: "none";
}